.basic-content{
  background-color: $light-gray;
  .__title{
    color: $primary-color;
    font-size: rem-calc(20);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    > *{
      @extend .__title;
    }
  }
  .__text{
    color: $primary-color;
    h1, h2, h3, h4, h5, h6{
      @extend .__title;
    }
    p, ul{
      margin-bottom: rem-calc(30);
    }
    .alignleft, .alignright{
      display: inline-block;
      @include breakpoint( medium up ){
        margin: 10px;        
      }
    }
    .alignleft{
      float: left;
    }
    .alignright{
      float: right;
    }
  }
}
