.blog-sidebar{
  text-align: center;
  .widgettitle{
    font-size: rem-calc(20);
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .widget{
    margin-bottom: 20px;
    @include clearfix();
  }
  ul{
    @extend .menu;
    @extend .vertical;
    width: 100%;
    display: block;
    position: relative;
    float: left;
  }
}
