.carousel{
  min-height: 300px;
  @include breakpoint(large up){
    min-height: 500px;
  }
  .carousel-each{
    height: 100%;
    @extend %interchange-bg;
    position: relative;
    .__clicktag{
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .__caption{
      @include breakpoint(medium up){
        display: none;
      }
      p{
        background-color: rgba($primary-color, 0.8);
        color: $white;
        padding: 16px;
        margin: 16px 0;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.carousel-wrap{
  @extend %owl-theme;
  height: 300px;
  @include breakpoint(large up){
    height: 500px;
  };
  .owl-stage-outer, .owl-stage, .owl-item{
    height: 100%;
  }
  .owl-dots{
    position: relative;
    bottom: 60px;
    .owl-dot {
      span {
        width: 12px;
        height: 12px;
        background: $white;
        box-sizing: content-box;
        margin: 3px;
        transition: all 0.4s;
      }
      &.active span, &:hover span {
        background: $dark-gray;
      }
    }
  }
  .owl-nav {
    margin-top: 180px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 3;
    [class*='owl-'] {
      background: transparent;
      color: $white;
      font-family: 'bambu';
      position: absolute;
      top: 50%;
      margin-top: -19px;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
        background: transparent;
      }
    }
    .owl-next{
      right: 0;
      @extend .icon-right-open-big;
    }
    .owl-prev{
      left: 0;
      @extend .icon-left-open-big;
    }
  }
}
