.code{
  background-color: $light-gray;
  .__title{
    color: $primary-color;
    font-size: rem-calc(20);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    > *{
      @extend .__title;
    }
  }
  .__code{
    padding: 10px;
    background-color: $white;
    margin-bottom: 10px;
    font-size: rem-calc(12);
    word-break: break-all;
    color: $dark-gray;
    margin-top: 6px;
  }
  .__text{
    color: $primary-color;
    h1, h2, h3, h4, h5, h6{
      @extend .__title;
    }
    p, ul{
      margin-bottom: rem-calc(30);
    }
  }
}
