.contact-page{
  .__subtitle{
    font-weight: bold;
    font-size: rem-calc(24);
    letter-spacing: 2px;
  }
  .__form{
    select{
      background-color: $dark-blue;
      color: $white;
    }
    input, textarea{
      background-color: $medium-gray;
      color: $black;
      &::placeholder{
        color: $black;
      }
    }
    .button{
      @extend .expanded;
      background-color: $primary-color;
      color: $white;
    }
  }
}
