.contact-box{
  background-color: $light-gray;
  .__title{
    > *{
      font-size: rem-calc(34);
      @include breakpoint( medium up ){
        font-size: rem-calc(45);
      }
    }
  }
  .menu{
    margin-top: 0;
    li {
      font-size: rem-calc(16);
      @include breakpoint( medium up ){
        font-size: rem-calc(20);
      }
      &:first-child{
        > a{
          border-left: none;
          padding-left: 0;
        }
      }
      > a{
        @include breakpoint( medium up ){
          border-left: 1px solid $body-font-color;
        }
        padding: 4px 20px;
      }
    }
  }
}
