.data-container{
  margin-top: 66px;
  background-color: rgba($black, 0.5);
  .data-container-each{
    padding: 60px 10px;
    .__title{
      font-size: rem-calc(80);
      color: $secondary-color;
      letter-spacing: -8px;
    }
    .__data{
      color: $white;
      display: inline-block;
      font-weight: bold;
    }
    .__prize{
      text-align: center;
      background-color: $white;
      padding: 22px 30px;
      border-radius: 999rem;
      width: 120px;
      margin: 20px auto;
    }

  }
}
