.destinations{
  background-color: $snow;
  .card{
    min-width: 280px;
    height: auto;
    .__title{
      font-weight: bold;
      font-size: rem-calc(16);
    }
    .__text{}
    .card-image{
      height: 220px;
      background-color: $light-gray;
      @extend %interchange-bg;
      > a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
  .__content{
    @include breakpoint (medium up){
      padding: 0 60px;
    }
  }
}

.destinations-wrap{
  @extend %owl-theme;
  position: relative;
  .owl-dots{
    .owl-dot {
      span {
        width: 6px;
        height: 6px;
        background: $secondary-color;
        border-width: 0;
        box-sizing: content-box;
        margin: 4px 6px;
        transition: all 0.4s;
      }
      &.active span, &:hover span {
        background: transparent;
        border: 2px solid $secondary-color;
        margin: 2px 4px;
      }
    }
  }
  .owl-stage-outer{
    z-index: 2;
  }
  .owl-nav {
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    [class*='owl-'] {
      background: transparent;
      color: $primary-color;
      font-family: 'bambu';
      position: absolute;
      top: 50%;
      margin-top: -19px;
      font-size: 20px;
      border-radius: 999rem;
      transition: color 0.4s;
      &:hover {
        background: transparent;
        color: $secondary-color;
      }
    }
    .owl-next{
      right: -60px;
      padding: 9px 8px 9px 12px;
      @extend .icon-right-open-big;
    }
    .owl-prev{
      left: -60px;
      padding: 9px 12px 9px 8px;
      @extend .icon-left-open-big;
    }
  }
}
