.destination-page{
  .__info{
    padding: 20px 0 40px 0;
    iframe{
      width: 100%;
      border: none;
    }
  }
  .__subtitle{
    font-size: rem-calc(22);
    text-transform: uppercase;
  }
}
