.footer-bar{
  background-color: $primary-color;
  color: $white;
  padding: rem-calc(60) 0;
  a{
    color: $white;
  }
  .__contact{
    font-style: normal;
    a{
      padding: 10px 0;
    }
    > .menu{
      margin-top: 10px;
      li {
        &:first-child{
          > a{
            border-left: none;
            padding-left: 0;
          }
        }
        > a{
          @include breakpoint( medium up ){
            border-left: 1px solid $white;
          }
          padding: 4px 10px;
        }
      }
    }
  }
  .__copyright{
    font-size: rem-calc(12);
    color: darken($green, 10%);
    padding: rem-calc(20) 0 0 0;
    > a{
      color: inherit;
      &:hover{
        color: $white;
      }
    }
  }
}
