.header-menu{
  background-color: $primary-color;
  padding: rem-calc(10) 0;
  transition: padding 0.4s, box-shadow 0.4s;
  box-shadow: 0 0 20px rgba($black, 0);
  &.is-stuck{
    box-shadow: 0 0 20px rgba($black, 0.4);
  }
  @include breakpoint( large up ){
    padding: rem-calc(38) 0;
    &.is-stuck{
      // padding: rem-calc(14) 0;
      .complement-line{
        display: none;
      }
    }
  }
  .is-anchored{
  }
  .top-bar-right{
    position: relative;
  }
  .menu{
    .current-menu-item, .active{
      > a{
        color: $secondary-color;
      }
    }
  }
  .complement-line{
    text-transform: inherit;
    font-size: rem-calc(16);
    margin-top: 10px;
    @include breakpoint( large up ){
      position: absolute;
      right: 0;
    }
    li{
      color: $light-blue;
      a{
        color: $light-blue;
        padding: 4px 1rem;
        @include breakpoint( large up ){
          border-right: 1px solid $light-blue;
        }
      }
      &:last-child{
        a{
          border-right: none;
        }
      }

    }
  }
}
