.magellan-head{
  .__itens{
    .menu{
      font-weight: bold;
      font-size: rem-calc(24);
      text-transform: uppercase;
      margin-top: 20px;
      > li{
        padding: 0 40px;
        @include breakpoint(large up){
          border-right: 2px solid $primary-color;
        }
        &:last-child{
          border-right: 0;
        }
      }
      .button.round{
        font-size: rem-calc(30);
        padding: 8px 8px 0px 8px;
        width: 48px;
        margin: 10px auto;
      }
    }
  }

}
