.menu-social{
  > .menu-item{
    > a{
      margin-right: 8px;
      color: $primary-color;
      border-radius: 999rem;
      padding: rem-calc(8);
      font-size: rem-calc(20);
      line-height: rem-calc(10);
      background: $white;
      transition: background-color 0.4s;
      &:hover{
        background: $green;
      }
    }
  }
}
