.one-two-three{
  background-color: $dark-blue;
  color: $white;
  .__title{
    > *{
      color: $white;
      font-weight: bold;
      font-size: rem-calc(22);
      letter-spacing: rem-calc(3);
    }
  }
  .__itens{
    .__itens-each{
      position: relative;
      &:before, &:after{
        content: "\64";
        font-family: "bambu";
        position: absolute;
        right: -30px;
        top: 30px;
        font-size: rem-calc(42);
        color: $secondary-color;
        display: none;
        @include breakpoint( medium up ){
          display: block;
        }
      }
      &:after{
        right: -15px;
      }
      &:last-child{
        &:before, &:after{
          content: '';
        }
      }
    }
  }
  .__itens-each{
    .__itens-each-inner{
    }
  }
  .__itens-each-number{
    font-size: rem-calc(90);
    font-weight: bold;
    color: $secondary-color;
  }
  .__itens-each-title{
    color: $white;
    font-weight: bold;
    font-size: rem-calc(25);
  }
  .__itens-each-text{
    color: $light-blue;
    font-size: rem-calc(15);
  }
}
