.parallax-and-data{
  @extend .parallax-box;

  .__title{
  //    font-weight: bold;
  }
  .centered-container{
    margin-top: 160px;
    .centered-container-inner{
      background-color: rgba($black, 0.75);
      p{
        margin: 0;
        font-size: rem-calc(16);
        font-weight: normal;
        line-height: normal;
      }
      &.has-place{
        background-image: url('../img/place-img.svg');
        background-repeat: no-repeat;
        background-position: 12px 50%;
        background-size: 70px;
        padding-left: 90px;
      }
    }
  }
}
