.parallax-mais-info{
  @extend .parallax-box;
  min-height: 300px;
  .centered-container{
    margin-top: 80px;
    .centered-container-inner{
      position: relative;
      .__clicktag{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      a{
        color: inherit;
      }
      p{
        margin: 0;
        font-size: rem-calc(16);
        font-weight: normal;
        line-height: normal;
      }
      &.has-airplane{
        background-image: url('../img/airplane-img.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-size: 60px;
        padding-right: 90px;
      }
    }
  }
}
