.parallax-box{
  height: auto;
  overflow: hidden;
  margin-top: 0;
  min-height: 500px;
  height: 100%;
  @extend %interchange-bg;
  .centered-container{
    margin-top: 200px;
    .centered-container-inner{
      position: relative;
      background-color: rgba($dark-blue, 0.75);
      padding: 20px;
      color: $white;
      font-weight: bold;
      font-size: rem-calc(14);
      @include breakpoint( medium up ){
        font-size: rem-calc(20);
      }
      > a{
        color: inherit;
      }
      .__clicktag{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      &.has-alert{
        background-image: url('../img/alert-img.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-size: 60px;
        padding-right: 90px;
      }
    }
  }
}

.inner-full-bar{
  background-color: rgba($dark-blue, 0.75);
  padding: 16px 0;
  color: $white;
  font-size: rem-calc(12);
  font-weight: bold;
  > a{
    color: $white;
  }
}
