.partners{
  background-color: $dark-blue;
  color: $white;
  .button{
    background: transparent;
    font-size: rem-calc(50);
    padding: 0;
    margin: 0;
    line-height: 0;
  }
  .__map{
    min-height: 300px;
    @include breakpoint(medium up){
      min-height: 450px;
    }
    .info-window-wrapper{
      color: $primary-color;
      margin: 0;
      .inner_title{
        color: $primary-color;
        font-size: rem-calc(16);
        text-transform: uppercase;
        margin-top: 16px;
      }
      .inner_contet{
        color: $primary-color;
        font-size: rem-calc(14);
        > a{
          color: inherit;
          font-weight: bold;
        }
      }
    }
  }
  .__title{
    > *{
      font-size: rem-calc(22);
      color: $white;
      font-weight: bold;
    }
  }
  .partners_card{
    border-top: 4px solid $blue;
    padding: 20px 10px;
    background-color: $white;
    color: $dark-gray;
    font-size: rem-calc(14);
    a{
      color: $dark-gray;
      transition: color 0.4s;
      &:hover{
        color: $blue;
      }
    }
    .__title{
      color: $secondary-color;
      font-size: rem-calc(16);
      font-weight: bold;
      padding-bottom: 8px;
    }
  }
}
