.posts-item{
  background-color: $snow;
  .card{
    min-width: 280px;
    height: auto;
    .__title{
      font-weight: bold;
      font-size: rem-calc(16);
    }
    .__text{}
    .card-image{
      height: 220px;
      background-color: $light-gray;
      @extend %interchange-bg;
      > a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
  .__content{
    @include breakpoint (medium up){
      padding: 0 60px;
    }
  }
}

.posts-item-wrap{
  .posts-item-each{
    background-color: $white;
  }
  .card{
    .__text{
      color: $dark-gray;
      a{
        color: inherit;
      }
    }
  }
}
