.quotes{
  min-height: 300px;
  background-color: $dark-blue;
  color: $white;
  .quotes-each{
    padding: 0;
    @include breakpoint(medium up){
      padding: 0 80px;
    }
    .__image{
      margin-bottom: 10px;
      > img{
        width: 100px;
        float: right;
      }
    }
    .__title, .__subtitle{
      margin-bottom: 6px;
      > *{
//        background-color: rgba($black, 0.5);
        color: $white;
        font-size: rem-calc(20);
        margin: 0;
        padding: 4px;
        text-transform: uppercase;
      }
    }
    .__title{
      > *{
        font-weight: bold;
      }
    }
    .__subtitle{
      padding-left: 20px;
      > *{
//        background-color: transparent;
        font-size: rem-calc(14);
        font-weight: bold;
      }
    }
    .__text{
      > *{
        &:before{
          content: '';
          background: #333;
          width: 40px;
          height: 48px;
          display: inline-block;
          margin-right: 10px;
          float: left;
          background: url("../img/mark.svg");
        }

      }
    }
  }
}

.quotes-wrap{
  @extend %owl-theme;
  position: relative;
  .owl-dots{
    .owl-dot {
      span {
        width: 6px;
        height: 6px;
        background: $white;
        border-width: 0;
        box-sizing: content-box;
        margin: 4px 6px;
        transition: all 0.4s;
      }
      &.active span, &:hover span {
        background: transparent;
        border: 2px solid $white;
        margin: 2px 4px;
      }
    }
  }
  .owl-nav {
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    [class*='owl-'] {
      background: $secondary-color;
      color: $primary-color;
      font-family: 'bambu';
      position: absolute;
      top: 50%;
      margin-top: -19px;
      font-size: 20px;
      border-radius: 999rem;
      transition: background-color 0.4s;
      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
    .owl-next{
      right: 0;
      padding: 9px 8px 9px 12px;
      @extend .icon-right-open-big;
    }
    .owl-prev{
      left: 0;
      padding: 9px 12px 9px 8px;
      @extend .icon-left-open-big;
    }
  }
}
