.round-list{
  background-color: $light-gray;
  .__title{
    @include breakpoint(medium up){
      > *{
        font-size: rem-calc(30);
        font-weight: bold;
        letter-spacing: 14px;
        color: $dark-blue;
      }
    }
  }
  .__itens{
    .__itens-each{
      > .__itens-each-thumb{
        height: 212px;
        width: 212px;
        margin: 0 auto;
        border-radius: 9999rem;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        @extend %interchange-bg;
        > .__itens-each-thumb-label{
          font-size: rem-calc(14);
          font-weight: bold;
          color: $dark-blue;
          text-transform: uppercase;
          background-color: rgba($white, 0.5);
          padding: 10px 0;
        }
      }
    }
  }
  .__subtitle{
    font-size: rem-calc(15);
    font-weight: bold;
    color: $dark-blue;
  }
}
