.round-itens{
  .__title{
    @include breakpoint(medium up){
      > *{
        font-size: rem-calc(55);
        text-transform: uppercase;
      }
    }
  }
  .__itens-each{
    .__itens-each-image{
      height: 125px;
      width: 125px;
      @include breakpoint(medium up){
        height: 165px;
        width: 165px;
      }
      margin: 20px auto;
      border-radius: 999rem;
      border: 6px solid $dark-blue;
      @extend %interchange-bg;
      > a{
        display: block;
        height: 100%;
        weight: 100%;
        border-radius: inherit;
      }
    }
    .__itens-each-title{
      font-size: rem-calc(16);
      font-weight: bold;
      text-transform: uppercase;
    }
    .button.round{
      font-size: rem-calc(30);
      padding: 8px 8px 0px 8px;
      margin-top: 10px;
    }
  }
}
