.search-box{
  background-color: $blue;
  padding: 20px 0;
  .__label{
    text-transform: uppercase;
    color: $white;
    font-weight: bold;
    font-size: rem-calc(20);
    padding: 6px 16px 0px 10px;
    margin: 0;
  }
  .__field{
    background: $light-gray;
    box-shadow: none;
    border: 0;
    min-width: 280px;
    color: $dark-blue;
    &::placeholder{
      color: $dark-blue;
      font-style: italic;
    }
  }
  .autocomplete{
    position: relative;
    .autocomplete-data{
      position: absolute;
      width: 100%;
      background: $white;
      top: 100%;
      display: none;
      z-index: 3;
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid $light-gray;
      &.active{
        display: block;
      }
      > .menu{
        font-size: rem-calc(14);
        .item{
          a{
            width: 100%;
            &:hover{
              background-color: $dark-blue;
              color: $white;
            }
            &:focus{
              outline: 0;
              background-color: $blue;
              color: $white;
            }
          }
        }
        .empty{
          font-size: rem-calc(14);
          padding: 10px;
        }
      }
    }
  }
}
