.squared-list{
  .__itens{
    .__itens-each-title{
      font-weight: bold;
      font-size: rem-calc(22);
    }
    .__itens-each-text{
      font-size: rem-calc(14);
    }
    .__itens-each{
      border: 6px solid $dark-blue;
      padding: 20px 20px 30px 20px;
      background-color: $light-gray;
      position: relative;
      .button.round{
        position: absolute;
        bottom: -40px;
        right: 50%;
        margin-right: -20px;
      }
    }
  }
}
