.topic-head{
  .__itens{
    .menu{
      margin-top: 20px;
      > li{
        > a{
          background-color: $dark-blue;
          margin: 0 10px 40px 10px;
          color: $white;
          position: relative;
          font-size: rem-calc(20);
          text-transform: uppercase;
          padding: 25px 30px;
          width: 200px;
          @include breakpoint(large up){
            padding: 30px 50px;
            width: 300px;
          }
          .button.round{
            position: absolute;
            width: 42px;
            height: 42px;
            margin: 10px auto;
            background-color: $secondary-color;
            right: 50%;
            margin-right: -25px;
            bottom: -30px;
            font-size: rem-calc(30);
            padding: 5px 0px 0px 0px;
          }
        }
      }
    }
  }
}
