.topics{
  background-color: $primary-color;
  color: $white;
  .topics-each{

    .__title{
      font-size: rem-calc(20);
      font-weight: bold;
    }
    .__content{
    }
    .button{
      color: $secondary-color;
      background: transparent;
      font-size: rem-calc(40);
      padding: 0;
      margin: 0;
    }
  }
}
