.sections-wrapper{
  .section-padding{
    padding: rem-calc(40) 0;
    @include breakpoint( medium up ){
      padding: rem-calc(60) 0;
    }
  }
}

.top-bar{
  .menu{
    text-transform: uppercase;
    font-size: rem-calc(13);
    a{
      color: $white;
    }
  }
}

.customize-support {
  .header-menu, .sticky.is-anchored{
    padding-top: 32px !important;
  }
  #wpadminbar{
    background-color: $primary-color;
  }
}

*:focus{
  outline: none;
}

.button{
  &.secondary{
    color: $white;
  }
  &.round{
    border-radius: 999rem;
  }
}

.has-border-top{
  border-top: 10px solid $secondary-color;
}

.is-uppercase{
  text-transform: uppercase;
}

.accordion{
  .accordion-item{
    .accordion-title{
      text-transform: uppercase;
      font-weight: bold;
      color: $white;
    }
    &.is-active, &:hover, &:focus{
      color: $white;
      .accordion-title{
        color: $white;
      }
    }
  }
}

.widget_archive{
  ul{
    @extend .menu;
    @extend .vertical;
  }
}
