// Avenir LT Std
@include font-face('Avenir LT Std', 'AvenirLTStd-Black', 900, 'bold');
@include font-face('Avenir LT Std', 'AvenirLTStd-Book', 'normal');
$avenir: 'Avenir LT Std', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$primary-font: $avenir;

@font-face {
  font-family: "bambu";
  src:url("../fonts/bambu.eot");
  src:url("../fonts/bambu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bambu.woff") format("woff"),
    url("../fonts/bambu.ttf") format("truetype"),
    url("../fonts/bambu.svg#bambu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bambu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bambu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-logo:before {
  content: "\61";
}
.icon-instagram-logo:before {
  content: "\62";
}
.icon-up-open-big:before {
  content: "\63";
}
.icon-right-open-big:before {
  content: "\64";
}
.icon-left-open-big:before {
  content: "\65";
}
.icon-down-open-big:before {
  content: "\66";
}
.icon-bars:before {
  content: "\67";
}
.icon-linkedin-logo:before {
  content: "\68";
}
.icon-twitter-logo:before {
  content: "\69";
}
.icon-google-logo:before {
  content: "\6a";
}
.icon-pinterest-logo:before {
  content: "\6b";
}
.icon-paperclip:before {
  content: "\6c";
}
.icon-check:before {
  content: "\6d";
}
.icon-person:before {
  content: "\6e";
}
.icon-language:before {
  content: "\6f";
}
.icon-globe:before {
  content: "\70";
}
