@mixin font-face($family-name, $font-name, $font-weight: 'normal', $font-style: 'normal') {
	@font-face{
		font-family: $family-name;
		src:
		url('../fonts/' + $font-name + '.eot?#iefix') format('embedded-opentype'),
		url('../fonts/' + $font-name + '.otf')  format('opentype'),
		url('../fonts/' + $font-name + '.woff') format('woff'),
		url('../fonts/' + $font-name + '.ttf')  format('truetype'),
		url('../fonts/' + $font-name + '.svg#' + $font-name) format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

%interchange-bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
